footer {
  margin-top: auto;
  padding: 20px 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  gap: 3.5rem;
  border-top: 3px solid var(--gray);
}

.footer-content > img {
  height: 4rem;
}

.footer-content > h4 {
  margin: 10px 0px;
}

.footer-content > p {
  margin-top: 20px;
  max-width: 350px;
  font-family: "Karla";
}

.links {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.links a {
  text-decoration: none;
  color: #2f234f;
  margin-top: 5px;
}

.contact-info {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.contact-info box-icon {
  margin-right: 20px;
}
