:root {
  --darkgreen: #495e57;
  --lemon: #f4ce14;
  --peach: #ee9972;
  --beige: #fbdabb;
  --gray: #edefee;
  --darkgray: #333333;
  --green: #228b22;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Karl", sans-serif;
}
body {
  margin: 0;
  font-family: "Karl", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
